.card-detail {
  text-align: center;
  padding: 20px;
}

.card-detail img {
  width: 100%;
height: 80vh !important;
  height: auto;
}

.card-detail h1{
  text-align: right;
  color: #0d6efd;
  margin: 25px 0;
}

/* تنسيق عنوان المدونة */
.title-page{
  background-color: #0d6efd;
  color: #fff !important;
}


@media (min-width:500px) and (max-width:900px){
  .page-link{
font-size: 14px ;
    
  }
  .title-page{
font-size: 18px;
  }
}

/*  */
.categoryLink{
  font-size: 20px;
  font-weight: bold;
  background: #0d6efd;
  display: inline-block;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  text-decoration: none;
}

.tag-cont{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background: #f8f9fa;
  padding: 20px;
}
.tagBtn {
  font-size: 18px;
  font-weight: bold;
}

.main-title-img{
  width: 100%;
  height: 400px;
}

.articleCont img{
max-width: 100%;
}