.alert {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    height: 65px;
    animation-name: up2down;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.alertSideBar{
  position: absolute;
  top: 0px;
  height: 65px;
  animation-name: alert_up2down__sUKB7;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.alertArError{
  position: absolute;
    top: -60px;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    animation-name: up2down;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.alertArError p{
  margin-bottom: 0px;
}

@keyframes up2down {
     from {
        top: -60px;
     }
  to {
    top: 3px;
  }
}
@media only screen and (max-width: 768px) {
    .alert,.alertArError {
        width: 99%;
    }
    
  }